* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}

.welcome {
	background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 1)), url("coding.jpeg");

	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	position: relative;
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;

	.center {
		flex: 70;
		text-align: center;

		img {
			height: 30vh;
			width: 30vh;
			border-radius: 50%;
			margin-top: 20vh;
		}
	}

	.text {
		flex: 30;
		text-align: center;
		color: #FFF;
		font-size: 4vmin;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}
}

.last {
	background-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.95), rgb(0, 0, 0, 0.85)), url("matrix.jpeg");
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;

	height: 50vh;
	padding: 0;
	margin: 0;
	padding-left: 5vw;

	h1 {
		font-size: 4vmin;
		color: #FFF;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	}

	ul {
		list-style-type: none;
		font-size: 3vmin;
		color: #FFF;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		padding-right: 5vw;
		padding-top: 3vmin;

		li {
			padding-bottom: 4vmin;

			.year {
				font-size: 2.5vmin;
				float: inline-end;
			}

			.country {
				font-size: 2.5vmin;
				font-style: italic;
			}
		}
	}

}