
body {
  /*background-color: #f8f3ee;*/
  background-color: #fff;
  margin: 0;
}

footer {
  background-color: orange;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  height: 40px;
}

footer li {
  flex: auto;
  border: solid;
  background-color: #555555;
}

footer li a {
  height: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer li a:hover {
  background-color: #333333;
}

.menu {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  height: 50px;
}

.menu li {
  flex: auto;
  border: solid;
  background-color: #555555;
}

.menu li a {
  height: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menu li a:hover {
  background-color: #333333;
}
